#box
{
  width:auto;
  height:auto;
  margin:0px auto;
}
#alarm-box{
  width: auto;
  height: auto;
  margin: 16px;
}
h2{
  text-align: center;
  color: cadetblue;
}
table
{
  margin:0px auto
}

.currency-input, .currency-selection{
  border-radius: 5px;
  border: 0.5px solid cadetblue;
  padding: 3px;
  width: 100%;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 48px;
  margin: 8px;
  border-bottom: lightgray solid 0.5px;
  border-radius: 5px;
  background-color: cadetblue;
}

.header h5{
  color: white;
  margin: auto;
}